<a href="https://colab.research.google.com/github/AnkeHooliganke/ml-course/blob/main/dancing_men.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [796]:
CORPORA_PATH_RU = 'C:\\Users\\anke\\OneDrive\\Документы\\ML\\made_nikolenko\\war_and_peace\\WarAndPeace.txt'
CORPORA_PATH_ENG = 'C:\\Users\\anke\\OneDrive\\Документы\\ML\\made_nikolenko\\war_and_peace\\WarAndPeaceEng.txt'
ABC_RU = 'абвгдеёжзийклмнопрстуфхцчшщъыьэюя '
ABC_ENG = string.ascii_lowercase + ' '

In [74]:
import pandas as pd
import numpy as np
import itertools
import string
import random

In [963]:
war_ru = ''
with open(CORPORA_PATH_RU, 'r', encoding='utf8') as file:
  war_ru = file.read()

war_ru[:100]

'Annotation\n\n\n\t"Война и мир" – самый известный роман Льва Николаевича Толстого, как никакое другое пр'

In [964]:
war = war_ru.lower().translate(str.maketrans("", "", string.punctuation + '„“–—åüöäíâçîôû…è»à«ê1234567890' + string.ascii_lowercase))
war = war.translate(str.maketrans("\n\t", "  "))
war[:100]

'    война и мир  самый известный роман льва николаевича толстого как никакое другое произведение пис'

#Базовый частотный метод по Шерлоку Холмсу

In [965]:
# посчитаем частоты символов в войне и мире
freq_dict = {char:0 for char in ABC_RU} # в тексте, конечно, много других символов, но нас они не интересуют
for char in war:
  if freq_dict.get(char, -1) == -1:
    pass
  else:
    freq_dict[char] += 1

In [966]:
freq_tab = pd.DataFrame(data=freq_dict.items(), columns=['char', 'rank'], index=range(len(freq_dict)))
freq_tab = freq_tab.sort_values(by='rank', ascending=False).reset_index(drop=True)
freq_tab.head()

  char    rank
0       117327
1    о   61282
2    а   45209
3    е   42519
4    и   35838

In [511]:
# частотный перевод текста
def translate(text, freq_tab):
  text_freq = {char: 0 for char in ABC_RU}
  for char in text:
    if text_freq.get(char, -1) == -1:
      pass
    else:
      text_freq[char] += 1
  text_freq_tab = pd.DataFrame(data=text_freq.items(), columns=['char', 'rank'], index=range(len(text_freq)))
  text_freq_tab = text_freq_tab.sort_values(by='rank', ascending=False).reset_index(drop=True)
  result = []
  for char in text:
    text_ind = text_freq_tab[text_freq_tab['char']==char].index.item()
    result.append(freq_tab.iloc[text_ind]['char'])
  return ''.join(result)

In [666]:
test_text = "Огюстен Луи Коши - французский математик и механик, член Парижской академии наук,\
Лондонского королевского общества, Петербургской академии наук и других академий.\
Разработал фундамент математического анализа и внёс огромный вклад в анализ, алгебру,\
математическую физику и многие другие области математики; один из основоположников\
механики сплошных сред. Его имя внесено в список величайших учёных Франции,\
помещённый на первом этаже Эйфелевой башни.".lower().translate(str.maketrans("", "", string.punctuation))

In [667]:
test_text = ' '.join(test_text.split())

In [668]:
# рандомная замена символов
translation_dict = dict(zip(ABC_RU, ''.join(random.sample(ABC_RU, len(ABC_RU)))))

In [669]:
test_shuffled = test_text.translate(str.maketrans(translation_dict))

In [670]:
test_shuffled[:50]

'жлгкыяфмщдцмэжьцмстнфедпкэцамъныяъныцэмцмъярнфцэмю'

In [671]:
# результат частотного перевода
translate(test_shuffled, freq_tab)[:100] # вроде пробелы правильные, и даже буквы 'a', 'н'

'еущлвин кдо тежо бранэдылтоя сависавот о сиьанот чкин гарошлтея атаписоо надткенпенлтеуе терекимлтеу'

попытка покрупнее

In [706]:
karenina = 'Все счастливые семьи похожи друг на друга, каждая несчастливая семья несчастлива по-своему.\
Все смешалось в доме Облонских. Жена узнала, что муж был в связи с бывшею в их доме француженкою-гувернанткой, и объявила мужу, что не может жить с ним в одном доме. Положение это продолжалось уже третий день и мучительно чувствовалось и самими супругами, и всеми членами семьи, и домочадцами. Все члены семьи и домочадцы чувствовали, что нет смысла в их сожительстве и что на каждом постоялом дворе случайно сошедшиеся люди более связаны между собой, чем они, члены семьи и домочадцы Облонских. Жена не выходила из своих комнат, мужа третий день не было дома. Дети бегали по всему дому, как потерянные; англичанка поссорилась с экономкой и написала записку приятельнице, прося приискать ей новое место; повар ушел еще вчера со двора, во время самого обеда; черная кухарка и кучер просили расчета.\
На третий день после ссоры князь Степан Аркадьич Облонский – Стива, как его звали в свете, – в обычный час, то есть в восемь часов утра, проснулся не в спальне жены, а в своем кабинете, на сафьянном диване. Он повернул свое полное, выхоленное тело на пружинах дивана, как бы желая опять заснуть надолго, с другой стороны крепко обнял подушку и прижался к ней щекой; но вдруг вскочил, сел на диван и открыл глаза.\
«Да, да, как это было? – думал он, вспоминая сон. – Да, как это было? Да! Алабин давал обед в Дармштадте; нет, не в Дармштадте, а что-то американское. Да, но там Дармштадт был в Америке. Да, Алабин давал обед на стеклянных столах, да, – и столы пели: а что-то лучше, и какие-то маленькие графинчики, и они же женщины», – вспоминал он.\
Глаза Степана Аркадьича весело заблестели, и он задумался, улыбаясь. «Да, хорошо было, очень хорошо. Много еще что-то там было отличного, да не скажешь словами и мыслями даже наяву не выразишь». И, заметив полосу света, пробившуюся сбоку одной из суконных стор, он весело скинул ноги с дивана, отыскал ими шитые женой (подарок ко дню рождения в прошлом году), обделанные в золотистый сафьян туфли и по старой, девятилетней привычке, не вставая, потянулся рукой к тому месту, где в спальне у него висел халат. И тут он вспомнил вдруг, как и почему он спит не в спальне жены, а в кабинете; улыбка исчезла с его лица, он сморщил лоб.\
«Ах, ах, ах! Ааа!..» – замычал он, вспоминая все, что было. И его воображению представились опять все подробности ссоры с женою, вся безвыходность его положения и мучительнее всего собственная вина его.\
«Да! она не простит и не может простить. И всего ужаснее то, что виной всему я, виной я, а не виноват. В этом-то вся драма, – думал он. – Ах, ах, ах!» – приговаривал он с отчаянием, вспоминая самые тяжелые для себя впечатления из этой ссоры.\
Неприятнее всего была та первая минута, когда он, вернувшись из театра, веселым и довольным, с огромною грушей для жены в руке, не нашел жены в гостиной; к удивлению, не нашел ее и в кабинете и, наконец, увидал ее в спальне с несчастною, открывшею все, запиской в руке.\
Она, эта вечно озабоченная, и хлопотливая, и недалекая, какою он считал ее, Долли, неподвижно сидела с запиской в руке и с выражением ужаса, отчаяния и гнева смотрела на него\
– Что это? это? – спрашивала она, указывая на записку.\
И при этом воспоминании, как это часто бывает, мучало Степана Аркадьича не столько самое событие, сколько то, как он ответил на эти слова жены.\
С ним случилось в эту минуту то, что случается с людьми, когда они неожиданно уличены в чем-нибудь слишком постыдном. Он не сумел приготовить свое лицо к тому положению, в которое он становился пред женой после открытия его вины. Вместо того чтоб оскорбиться, отрекаться, оправдываться, просить прощения, оставаться даже равнодушным – все было бы лучше того, что он сделал! – его лицо совершенно невольно («рефлексы головного мозга»[33], – подумал Степан Аркадьич, который любил физиологию), совершенно невольно вдруг улыбнулось привычною, доброю и потому глупою улыбкой.\
Эту глупую улыбку он не мог простить себе. Увидав эту улыбку, Долли вздрогнула, как от физической боли, разразилась, со свойственною ей горячностью, потоком жестоких слов и выбежала из комнаты. С тех пор она не хотела видеть мужа.\
«Всему виной эта глупая улыбка», – думал Степан Аркадьич.'.lower().translate(str.maketrans("", "", string.punctuation + '„“–—åüöäíâçîôû…è»à«ê1234567890' + string.ascii_lowercase))

In [707]:
karenina_shuf = karenina.translate(str.maketrans(translation_dict))
translate(karenina_shuf, freq_tab)[:100]

'вте тгатслнвяе тедын похочн ркуб иа ркуба мачраь иетгатслнваь тедыь иетгатслнва потвоедувте тдешалот'

#Биграммы

In [ ]:
# подсчитаем частоты биграмм
bigrams = itertools.product(ABC_RU, repeat=2)
freq_big = {bigram: 0 for bigram in bigrams}
for i in range(len(war) - 1):
  bigram = tuple(war[i: i + 2])
  if freq_big.get(bigram, -1) == -1:
    pass
  else:
    freq_big[bigram] += 1

In [968]:
freq_tab_big = pd.DataFrame(data=freq_big.items(), columns=['bigram', 'rank'], index=range(len(freq_big)))
freq_tab_big = freq_tab_big.sort_values(by='rank', ascending=False).reset_index(drop=True)
freq_tab_big.drop(index=0, inplace=True) # здесь была биграмма из двух пробелов как артефакт очистки текста
freq_tab_big.reset_index(drop=True, inplace=True)
freq_tab_big.head()

   bigram   rank
0  (о,  )  13316
1  (и,  )  11398
2  (а,  )  10595
3  (е,  )  10040
4  ( , с)   9863

In [527]:
# частотный перевод по биграммам: сортируем в порядке убывания частот, в перевод подставляем соответствующие порядку биграммы
def translate_big(text, freq_big):
  bigrams = itertools.product(ABC_RU, repeat=2)
  freq_text = {}
  for i in range(len(text) - 1):
    bigram = tuple(text[i: i + 2])
    if freq_text.get(bigram, -1) == -1:
      freq_text[bigram] = 1
    else:
      freq_text[bigram] += 1
  text_freq_tab = pd.DataFrame(data=freq_text.items(), columns=['bigram', 'rank'], index=range(len(freq_text)))
  text_freq_tab = text_freq_tab.sort_values(by='rank', ascending=False).reset_index(drop=True)

  result = []
  for i in range(0, len(text) - 1, 2):
    bigram = tuple(text[i: i + 2])
    text_ind = text_freq_tab[text_freq_tab['bigram']==bigram].index.item()
    a, b = freq_big.iloc[text_ind]['bigram']
    result.append(a)
    result.append(b)
  return ''.join(result), text_freq_tab

In [537]:
result, text_freq_tab = translate_big(karenina_shuf, freq_tab_big) # А точно должно работать на только частотах биграмм? они ведь не гарантируют однозначного декодирования букв...
result[:100]

'нии  ясьрыдаицо т шетоиюкн пылзн на ылзна козьть нчттаь рерост тшаст к ясьрыдаа поиепе ении д пьнеер'

In [538]:
text_freq_tab.join(freq_tab_big, rsuffix='big').head(7) # если заменять биграммы, то букве 'ц' будет соответствовать и 'о', и пробел

   bigram  rank bigrambig  rankbig
0  (ц, ч)    92    (о,  )    13316
1  (а, ц)    82    (и,  )    11398
2  (ь, ц)    80    (а,  )    10595
3  (й, ц)    80    (е,  )    10040
4  (ц, ш)    78    ( , с)     9863
5  (и, ц)    71    ( , п)     9768
6  (ц, й)    54    ( , в)     9612

можно попробовать улучшить декодирование и переводить буквы, а не биграммы, но с учетом частоты встречаемости каждой буквы по биграммам(например, для биграмм в тесте, начинающихся с 'ц', найдем, какие биграммы из соответствующих им по частоте встречаемости начинаются с 'o', и сложим вероятности получить эти биграммы)

Здесь, правда, тоже не будет никакой однозначности

In [486]:
bigrams_tab = text_freq_tab.join(freq_tab_big, rsuffix='big')
bigrams_tab.drop(columns=['rank'], inplace=True)
bigrams_tab['rankbig'] /= bigrams_tab['rankbig'].sum()
bigrams_tab['bigram_1'] = bigrams_tab['bigram'].apply(lambda x: x[0])
bigrams_tab['bigram_2'] = bigrams_tab['bigram'].apply(lambda x: x[1])
bigrams_tab['bigram_war_1'] = bigrams_tab['bigrambig'].apply(lambda x: x[0])
bigrams_tab['bigram_war_2'] = bigrams_tab['bigrambig'].apply(lambda x: x[1])
bigrams_tab.drop(columns=['bigram', 'bigrambig'], inplace=True)
bigrams_tab.head()

    rankbig bigram_1 bigram_2 bigram_war_1 bigram_war_2
0  0.020849        ц        ч            о
1  0.017848        а        ц            и
2  0.016584        ь        ц            а
3  0.015715        й        ц            е
4  0.015444        ц        ш                         с

In [487]:
translation_tab2 = pd.DataFrame(0., index=list(ABC_RU), columns=list(ABC_RU))
for char in bigrams_tab['bigram_1']:
  for subst in bigrams_tab[bigrams_tab['bigram_1']==char]['bigram_war_1']:
   translation_tab2[char][subst] += bigrams_tab[(bigrams_tab['bigram_1']==char) & (bigrams_tab['bigram_war_1']==subst)]['rankbig'].sum()

for char in bigrams_tab['bigram_2']:
  for subst in bigrams_tab[bigrams_tab['bigram_2']==char]['bigram_war_2']:
   translation_tab2[char][subst] += bigrams_tab[(bigrams_tab['bigram_2']==char) & (bigrams_tab['bigram_war_2']==subst)]['rankbig'].sum()

In [488]:
translation_tab2.head()

,а,б,в,г,д,е,ё,ж,з,и,...,ч,ш,щ,ъ,ы,ь,э,ю,я,
а,0.448238,0.007783,0.000000,0.027875,0.0,0.0,0.046756,0.0,0.040333,0.013003,...,0.000000,0.090310,0.008112,0.000000,0.000000,2.855693,0.000000,0.066225,0.128829,0.041187
б,0.019178,0.007634,0.007334,0.064505,0.0,0.0,0.000000,0.0,0.000000,0.026402,...,0.071317,0.000000,0.000000,0.003884,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
в,0.312218,0.013789,0.000000,0.032693,0.0,0.0,0.091872,0.0,0.000000,0.075568,...,0.145795,0.043523,0.000000,0.049045,0.000000,0.036011,0.000000,0.071599,0.010342,0.000000
г,0.240534,0.016255,0.003365,0.013531,0.0,0.0,0.070345,0.0,0.012661,0.019918,...,0.000000,0.016022,0.000000,0.000000,0.003026,0.000000,0.009316,0.123053,0.059585,0.000000
д,0.108959,0.028799,0.012048,0.003015,0.0,0.0,0.026977,0.0,0.000000,0.000000,...,0.080714,0.031474,0.000000,0.000000,0.014865,0.238824,0.008879,0.000000,0.000000,0.061827

In [493]:
trans_dict = dict(translation_tab2.idxmax())

In [494]:
karenina_shuf.translate(str.maketrans(trans_dict))  # чтобы была однозначность, можно с помощью этих таблиц придумать какой-нибудь алгоритм,
                                                    # который будет итеративно менять перевод, но, видимо, это и имелось в виду в 3 пункте

' ии ииаиие  аи ии е  оеней   ллу оа  ллуа вай а  оиииаиие  а  ии е  оиииаиие  а оеи еи л ии и идаееие    е и е ееоив н йиоа лсоаеа иие  лй  ае   и  с  и  а дио    н  е и хлаозлйиовеоул илоаоивек   е л   еа  лйл иие ои  ейии й ие и о     е ое   е и оееейио и сие оле еейаееие лйи илии к  иое    ли ииееое ил ии е аееие   иа     илоллуа      ии   иеиоа   ии е     е еиа за    ии иеиоа ии е     е еиа за ил ии е ае  иие оии и аиеа    н ией ииееии и   иие оа вай е  оеиие ее    ели иелиакое иеди д ии  ео    ееии и  саоа  ий л ие ек ии  ео  иеиоа ии е     е еиа за е ееоив н йиоа ои  ане  еа  с и е н ве оаи  лйа илии к  иое ои  аее  е а  ии   иуае  ое  ии л  е л вав оеиил ооаи аоуе иаова оеииел еаие и свеое век   оао иаеа сао ивл ол  ииеео зи олеи  ол  иваие ик ое еи  ииие ое ал лдие ици  иила ие   ела  е  ли   иа еуе е и а иилоа  влналва   влиил олеи е  лаииииаоа илии к  иое оеиеи ииела во се иииоао алва е и е ееоив к  ии  а вав иуе с ае    и иии    е аиоак иаи ие ииие    еии е иаие  лила олеиолеи  ои   иоаееои йиоа а   и еи  ва  оиии оа иахе оое     аои ео ое илоле и еи оееоеи  анееиооеи ииее оа оллй оан    аоа вав  а йиеа  ео ие саиолие оа ееуе и  ллуек ииелеоа влиове е о е ое лдвл   ол йаеи  в оик цивек ое   ллу  ивеи е иие оа    ао   еивлае уеаса а  а вав сие  аее   л ае ео  иое  оа  иео   а вав сие  аее  а аеа  о  а ае е и     ал диа ии оии ои    ал диа ии а ииеие а ил ваоивеи  а ое иа   ал диа и  ае   а ил ви  а аеа  о  а ае е и  оа иииве ооан ииееан  а    ииееа оие  а ииеие елиди   вав иие  аеиоев и улах ои в    ео  йи йиоц оа   иое  оае еоуеаса иииоаоа алва е иа  иииее са еиииие    ео са л аеи  леа а ие  а неледе  аее еииое неледе  оеуе ици ииеие иа   аее еие иоеуе  а ои ивайиде иее а      аие     айи оа  л ои  алас де   са ии   оеееил и ииа оле   длои  и евл е оек  с илвеооан ииел ео  иииее ив оле оеу  и    аоа еиаивае     д иаи йиоек ое алев ве  оо лей ио     оледее  уе л е  иеаооаи   сеееи ииак иахе о илхе    ое ииалек  и  и еииоик ол  аиви ои  ииа а  оеи олеи  ллвек в ие л  ииил у и   иоаееои л оиуе   иие наеаи   или ео  иое о е   ллу вав   оеии л ео ио и ои   иоаееои йиоа а   ва  оиии леа ва  ииисеа и иуе е за ео и елц е ее ан ан ан ааа  са аиае ео  иое  оа   ии иие  аее   иуе  ее лайио о оли ииа  е ие ео ие  ии ое ле оеии  ииела и йиоео  и   ис ане оеиие иуе оееейио      ли ииееоии  ииуе ие ии иооа    оа иуе а еоа ои олеии и   ои  ейии олеии ие    ииуе лйаиоии ие иие   оек  ии л     оек   а ои   ое аи   сие ие  и   ла а   л ае ео  ан ан ан  ол уе ал  ае ео и еииа о и   иое  оа  иа аи и йиеаи  е  ии    оииаиеио    с сиек ииелаоиол  иоии  ииуе  аеа иа оил а    олиа веу а ео  илол д ие  с ииаила  иииеа     е еееоа  и еуле оео уллдик  е  йиоа   ллви ои оадие йиоа   уеии оек в л   еио о ои оадие ии     ва  оиии   оавеоиз л   ае ии   иоаееои и оиииаииоео еивла дио  ии сао ивек   ллвиеоа сиа  ииое еса еииооа    нееоеие  а    ои аеива  вавео ео ии иае ии  еее  оиое   йое и  иеа и сао ивек   ллви   и  алайио и  лйаиа еииа о     уои а и еилиеа оа оиуе иие сие сие  иолад  аеа еоа лваса а  оа сао ивл  ол  сие   еиое  оао   вав сие иаиие  а аии  лиаее иииоаоа алва е иа ои ииеееве иа еи ие аи и ивеееве ие вав ео еи ии е оа си  иее а йиоаи о   иели ееие   сил   олил ие иие иелиаиии  и ео е   веу а ео  оией  аоое ле ииоа   ии о  л е ие две  оеииа ое  ео ои ил ие ол уеие  ие и еи е зе в ие л оееейио о   веиелеи ео ииаое  еи  оли  йиоек оеиеи еивлаи   иуе   оа   ииие иеуе иие  еивел  иеи  еиливаиеи  еола  а аиеи  олеи ие олецио   еииа аиеи   айи ла ое лдоа    ии  аее  а елиди иеуе иие ео и иеае  иуе е зе ие илдиоое ои еееое лихеивиа уеее оеуе  есуа  ое л ае иииоао алва е и веиелак ео  е х с еееу о ие илдиоое ои еееое   ллу леа олееие ол  аиоео  е лео   оеие л уелоео леа вексил уелоло леа вл ео ои  еу олеии ие ии и л   а  сил леа вл  еее   с леуолеа вав еи х с ииивек  ее  ласлас еаие ие и екии иооео ик уел иоеииео оеиеве  йиииев н иее     а ийаеа  с ве оаиа и иин оел еоа ои неииеа    иие  лйа ии л   оек сиа уелоа  леа ва   л ае иииоао алва е и'

#MCMC

0. подсчитаем частоты перехода от одной биграммы к другой для всех пар биграмм
1. возьмем случайный перевод символов
2. переведем сообщение, посчитаем правдоподобие перевода с помощью таблицы частот биграмм
3. поменяем местами два случайных перевода символов
4. посчитаем новый перевод и правдоподобие
5. пусть $p = \frac{NewLikelihood}{OldLikelihood}$,

если новое правдоподобие больше старого, т.е $p>1$, обновим таблицу перевода, go to 3

  иначе обновим таблицу перевода и go to 3 с вероятностью $p$

In [ ]:
bigrams = list(itertools.product(list(ABC_RU), repeat=2))
bigrams_next = pd.DataFrame(0., index=bigrams, columns=bigrams)
for i in range(len(war) - 4):
  curr = tuple(war[i: i + 2])
  next = tuple(war[i + 2: i + 4])
  if curr not in bigrams_next.index or next not in bigrams_next.columns:
    continue
  bigrams_next[curr][next] += 1
bigrams_next.head()

In [ ]:
bigrams_next[(' ', ' ')] = 0 # такие биграммы могут встречаться в тексте, но нам мешают, зануляем
bigrams_next.loc[[(' ', ' ')]] = 0
bigrams_next.tail()

In [ ]:
sums = bigrams_next.sum(axis=0)
sums

In [972]:
bigrams_next /= sums # читать по столбцам
bigrams_next.fillna(0, inplace=True)
bigrams_next.head()

,"(а, а)","(а, б)","(а, в)","(а, г)","(а, д)","(а, е)","(а, ё)","(а, ж)","(а, з)","(а, и)",...,"( , ч)","( , ш)","( , щ)","( , ъ)","( , ы)","( , ь)","( , э)","( , ю)","( , я)","( , )"
"(а, а)",0.222222,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(а, б)",0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.001587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(а, в)",0.000000,0.033175,0.002284,0.0,0.007446,0.0,0.0,0.003927,0.005102,0.0,...,0.000306,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(а, г)",0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.142857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(а, д)",0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.024725,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [660]:
bigrams_next[bigrams_next>0].min().min()

7.61556621734826e-05

In [ ]:
# переведем в log шкалу, нули -> EPS
EPS = 1e-5
bigrams_log = bigrams_next.clip(lower=EPS).apply(np.log)
bigrams_log.head()

посмотрим на реальное правдоподобие текста про Коши

In [696]:
true_decoding_dict = dict(zip(translation_dict.values(), translation_dict.keys()))

In [675]:
res, like = translate_mc(test_shuffled, true_decoding_dict)
res[:100], like

('огюстен луи коши французский математик и механик член парижской академии науклондонского королевског',
 -1168.3874365498125)

In [974]:
# перевод с текущим маппингом и подсчет правдоподобия
def translate_mc(text, translation_dict):
  like = 0
  result = []
  for i in range(0, len(text) - 4, 2):
    curr = tuple(text[i: i + 2])
    next = tuple(text[i + 2: i + 4])
    curr_trans_1, curr_trans_2 = translation_dict[curr[0]], translation_dict[curr[1]]
    result.append(curr_trans_1)
    result.append(curr_trans_2)
    next_trans_1, next_trans_2 = translation_dict[next[0]], translation_dict[next[1]]
    like += bigrams_log[(curr_trans_1, curr_trans_2)][(next_trans_1, next_trans_2)]
  result.append(next_trans_1)
  result.append(next_trans_2)
  return ''.join(result), like

In [ ]:
freq_tab.drop(columns='rank', inplace=True)
freq_tab

In [821]:
# если запускать с совсем рандомного перевода, то сходимость будет только в теории, запустимся с частотным переводом из 1 пункта
def get_init_trans_dict(text, freq_tab, abc=ABC_RU):
  text_freq = {char: 0 for char in abc}
  for char in text:
    if text_freq.get(char, -1) == -1:
      pass
    else:
      text_freq[char] += 1
  text_freq_tab = pd.DataFrame(data=text_freq.items(), columns=['char', 'rank'], index=range(len(text_freq)))
  text_freq_tab = text_freq_tab.sort_values(by='rank', ascending=False).reset_index(drop=True)
  trans_tab = text_freq_tab.join(freq_tab, rsuffix='_war')
  return dict(zip(trans_tab['char'], trans_tab['char_war']))

In [790]:
mc_translation_dict = get_init_trans_dict(test_shuffled, freq_tab)

In [791]:
translate_mc(test_shuffled[:50], mc_translation_dict)

('еущлвин кдо тежо бранэдылтоя сависавот о сиьанот', -211.9449673362715)

In [771]:
res_init, like_init = translate_mc(test_shuffled, mc_translation_dict)

In [772]:
# надо признать, что сходится при должном усердии и достаточном количестве перезапусков
n_iter = 200
prev_log_like = like_init
i = 0
while i < n_iter:
  swap_1, swap_2 = random.sample(list(mc_translation_dict), 2)
  val_1, val_2 = mc_translation_dict[swap_1], mc_translation_dict[swap_2]
  tmp_dict = mc_translation_dict.copy()
  tmp_dict[swap_1] = val_2
  tmp_dict[swap_2] = val_1
  new_res, new_log_like = translate_mc(test_shuffled, tmp_dict)
  prob = np.exp(new_log_like - prev_log_like)
  go_prob = random.uniform(0, 1)
  if (prob >= 1) or (go_prob < prob):
    i += 1
    prev_log_like = new_log_like
    mc_translation_dict = tmp_dict
    del tmp_dict
    if i % 50 == 0:
      print(new_res[:100], new_log_like)

ебъдлон мяи теши франьячдтий салосалит и союанит цмон варихдтей атагосии наятменгендтебе теремокдтеб -1726.58327611235
ебёдлон муи теши француздтий валовалит и воханит пмон сариъдтей атаговии наутменгендтебе теремокдтеб -1608.6658534045675
огюстен луи коши франжуцский математик и механик влен паричской академии науклондонского королезског -1332.0651322332865
огюстен луи коши французский математик и механик член парижской академии науклондонского королевског -1164.019034128619

Каренина

In [709]:
res, like = translate_mc(karenina_shuf, true_decoding_dict)
res[:100], like

('все счастливые семьи похожи друг на друга каждая несчастливая семья несчастлива посвоемувсе смешалос',
 -8140.286393290806)

In [777]:
mc_translation_dict = get_init_trans_dict(karenina_shuf[:500], freq_tab)

In [778]:
translate_mc(karenina_shuf[:50], mc_translation_dict)

('сеа емнервисьа еатпи ыобоуи дякж лн дякжн знуднг', -246.89100575333046)

In [779]:
res_init, like_init = translate_mc(karenina_shuf[:500], mc_translation_dict)

In [780]:
n_iter = 200
prev_log_like = like_init
i = 0
while i < n_iter:
  swap_1, swap_2 = random.sample(list(mc_translation_dict), 2)
  val_1, val_2 = mc_translation_dict[swap_1], mc_translation_dict[swap_2]
  tmp_dict = mc_translation_dict.copy()
  tmp_dict[swap_1] = val_2
  tmp_dict[swap_2] = val_1
  new_res, new_log_like = translate_mc(karenina_shuf[:500], tmp_dict)
  prob = np.exp(new_log_like - prev_log_like)
  go_prob = random.uniform(0, 1)
  if (prob >= 1) or (go_prob < prob):
    i += 1
    prev_log_like = new_log_like
    mc_translation_dict = tmp_dict
    del tmp_dict
    if i % 50 == 0:
      print(new_res[:100], new_log_like)

ске кпакывисье кетни хомоли рюуб да рюуба шалрая декпакывисая кетня декпакывиса хоксоетуске ктежавок -2009.569390142656
все счастривые сельи боюоми кпуг да кпуга намкая десчастривая селья десчастрива босвоелувсе слешарос -1545.0037636929685
все счастливые семьи похожи друг на друга каждая несчастливая семья несчастлива посвоемувсе смешалос -969.4961810703493
все счастливые семьи похожи друг на друга каждая несчастливая семья несчастлива посвоемувсе смешалос -969.4961810703493

#←⇠⇒↟↹↷⇊↹↷↟↤↟↨←↹↝

In [976]:
message = '←⇠⇒↟↹↷⇊↹↷↟↤↟↨←↹↝⇛⇯↳⇴⇒⇈↝⇊↾↹↟⇒↟↹⇷⇛⇞↨↟↹↝⇛⇯↳⇴⇒⇈↝⇊↾↹↨←⇌⇠↨↹⇙↹⇸↨⇛↙⇛↹⇠⇛⇛↲⇆←↝↟↞↹⇌⇛↨⇛⇯⇊↾↹⇒←↙⇌⇛↹⇷⇯⇛⇞↟↨⇴↨⇈↹⇠⇌⇛⇯←←↹↷⇠←↙⇛↹↷⇊↹↷⇠←↹⇠↤←⇒⇴⇒↟↹⇷⇯⇴↷↟⇒⇈↝⇛↹↟↹⇷⇛⇒⇙⇞↟↨←↹↳⇴⇌⇠↟↳⇴⇒⇈↝⇊↾↹↲⇴⇒⇒↹⇰⇴↹⇷⇛⇠⇒←↤↝←←↹⇞←↨↷←⇯↨⇛←↹⇰⇴↤⇴↝↟←↹⇌⇙⇯⇠⇴↹↘⇛↨↞↹⇌⇛↝←⇞↝⇛↹↞↹↝↟⇞←↙⇛↹↝←↹⇛↲←⇆⇴⇏'

In [795]:
len(set(message))

28

In [977]:
ABC_MESS = list(set(message))

In [994]:
mc_translation_dict = get_init_trans_dict(message, freq_tab, abc=ABC_MESS)

In [979]:
translate_mc(message[:100], mc_translation_dict)

('алие кд кеьеса товяниутдг еие помсе товяниутдг сарлс з шсоыо лоочжатеб росовдг иаыро пвомеснсу лро',
 -463.62023812808127)

In [995]:
res_init, like_init = translate_mc(message, mc_translation_dict)

In [996]:
n_iter = 300
prev_log_like = like_init
i = 0
while i < n_iter:
  swap_1, swap_2 = random.sample(list(mc_translation_dict), 2)
  val_1, val_2 = mc_translation_dict[swap_1], mc_translation_dict[swap_2]
  tmp_dict = mc_translation_dict.copy()
  tmp_dict[swap_1] = val_2
  tmp_dict[swap_2] = val_1
  new_res, new_log_like = translate_mc(message, tmp_dict)
  prob = np.exp(new_log_like - prev_log_like)
  go_prob = random.uniform(0, 1)
  if (prob > 1)  or (go_prob < prob):
    i += 1
    prev_log_like = new_log_like
    mc_translation_dict = tmp_dict
    del tmp_dict
    if i % 20 == 0:
      print(new_res[:100], new_log_like)

алие мы мешера тойяничтых еие покре тойяничтых раслр з дрово лоогьатеб соройых иавсо пйокернрч лсойа -967.9216886639252
акеи сы сивила ногштечных иеи побли ногштечных ламкл у злоро коожяаний мологых еармо пгобилтлч кмога -898.4371397629282
акеи сы сижила номвтейных иеи пошли номвтейных ларкл у злодо коочбания роломых еадро пмошилтлй крома -831.3401477984313
акси ты тивила норжесьным иси побли норжесьным лагкл у злодо коочйания голорым садго пробилель кгора -788.0549957011965
акли сы сивида нортельным или позди нортельным дагкд у ждобо коочйания годорым лабго прозидедь кгора -710.0894924667525
акли сы сивида ногтельным или позди ногтельным даркд ж удобо коочйания родогым лабро пгозидедь крога -708.7575207918479
акли сы сивита нордельный или позти нордельный табкт у чтого коожмания боторый лагбо прозитеть кбора -693.1273777328361
екли сы сидите норчальный или позти норчальный тегкт у мтово коожюения готорый левго прозитать кгоре -672.2930836334085
если вы видите норжальный или почти норжальный текст у мтого сообюения который легко прочитать скоре -528.8449797037841
если вы видите нормальный или почти нормальный текст у ютого сообжения который легко прочитать скоре -523.8939629424859
если вы видите норшальный или почти норшальный текст у мтого сообжения который легко прочитать скоре -517.5259804821587
если вы видите нормальный или почти нормальный текст у ютого сообжения который легко прочитать скоре -523.8939629424859
если вы видите норшальным или почти норшальным текст у ютого сообжения которым легко прочитать скоре -523.4456254956419
если вы видите норшальным или почти норшальным текст у ютого сообжения которым легко прочитать скоре -523.4456254956419
если вы видите норшальный или почти норшальный текст у ютого сообжения который легко прочитать скоре -526.1690421844224

In [998]:
message.translate(str.maketrans(mc_translation_dict))

'если вы видите норшальный или почти норшальный текст у ютого сообжения который легко прочитать скорее всего вы все сделали правильно и получите шаксишальный балл за последнее четвертое задание курса мотя конечно я ничего не обежах'

#MCMC на английском

In [797]:
war_eng = ''
with open(CORPORA_PATH_ENG, 'r', encoding='utf8') as file:
  war_eng = file.read()

war_eng[:100]

'\ufeffThe Project Gutenberg EBook of War and Peace, by Leo Tolstoy\n\nThis eBook is for the use of anyone a'

In [ ]:
set(war.lower())

In [802]:
war = war_eng.lower().translate(str.maketrans("", "", string.punctuation + 'àäéê1234567890' +  '\ufeff'))
war = war.translate(str.maketrans("\n\t", "  "))
war[:100]

'the project gutenberg ebook of war and peace by leo tolstoy  this ebook is for the use of anyone any'

In [805]:
freq_dict = {char:0 for char in ABC_ENG} 
for char in war:
  if freq_dict.get(char, -1) == -1:
    pass
  else:
    freq_dict[char] += 1

In [806]:
freq_tab = pd.DataFrame(data=freq_dict.items(), columns=['char', 'rank'], index=range(len(freq_dict)))
freq_tab = freq_tab.sort_values(by='rank', ascending=False).reset_index(drop=True)
freq_tab.drop(columns='rank', inplace=True)
freq_tab.head()

  char
0
1    e
2    t
3    a
4    o

In [ ]:
bigrams = list(itertools.product(list(ABC_ENG), repeat=2))
bigrams_next = pd.DataFrame(0., index=bigrams, columns=bigrams)
for i in range(len(war) - 4):
  curr = tuple(war[i: i + 2])
  next = tuple(war[i + 2: i + 4])
  if curr not in bigrams_next.index or next not in bigrams_next.columns:
    continue
  bigrams_next[curr][next] += 1
bigrams_next.head()

In [ ]:
bigrams_next[(' ', ' ')] = 0
bigrams_next.loc[[(' ', ' ')]] = 0
bigrams_next.tail()

In [ ]:
sums = bigrams_next.sum(axis=0)
sums

In [810]:
bigrams_next /= sums 
bigrams_next.fillna(0, inplace=True)
bigrams_next.head()

,"(a, a)","(a, b)","(a, c)","(a, d)","(a, e)","(a, f)","(a, g)","(a, h)","(a, i)","(a, j)",...,"( , r)","( , s)","( , t)","( , u)","( , v)","( , w)","( , x)","( , y)","( , z)","( , )"
"(a, a)",0.041667,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
"(a, b)",0.000000,0.000000,0.000000,0.000178,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000396,0.001790,0.002787,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
"(a, c)",0.000000,0.001156,0.000000,0.000356,0.0,0.0,0.000569,0.0,0.0,0.0,...,0.001718,0.002501,0.000503,0.0,0.003539,0.000000,0.0,0.0,0.0,0.0
"(a, d)",0.000000,0.000000,0.000285,0.000089,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.002313,0.004218,0.000000,0.0,0.000000,0.000172,0.0,0.0,0.0,0.0
"(a, e)",0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.001454,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [811]:
bigrams_next[bigrams_next>0].min().min()

9.01014542374714e-06

In [ ]:
EPS = 1e-6
bigrams_log = bigrams_next.clip(lower=EPS).apply(np.log)
bigrams_log.head()

In [904]:
test_text = "Choose Life. Choose a job. Choose a career. Choose a family. Choose a fucking big television, choose washing machines,\
 cars, compact disc players and electrical tin openers. Choose good health, low cholesterol, and dental insurance. Choose fixed\
  interest mortgage repayments. Choose a starter home. Choose your friends. Choose leisurewear and matching luggage.\
   Choose a three-piece suit on hire purchase in a range of fucking fabrics. Choose DIY and wondering who the fuck you are on Sunday morning.\
    Choose sitting on that couch watching mind-numbing, spirit-crushing game shows, stuffing fucking junk food into your mouth. \
    Choose rotting away at the end of it all, pissing your last in a miserable home, nothing more than an embarrassment to the selfish,\
     fucked up brats you spawned to replace yourselves. Choose your future. Choose life... But why would I want to do a thing like that?\
      I chose not to choose life. I chose somethin' else. And the reasons? There are no reasons.\
       Who needs reasons when you've got heroin?".lower().translate(str.maketrans("", "", string.punctuation))

In [905]:
test_text = ' '.join(test_text.split())

In [921]:
translation_dict = dict(zip(ABC_ENG, ''.join(random.sample(ABC_ENG, len(ABC_ENG)))))

In [922]:
test_shuffled = test_text.translate(str.maketrans(translation_dict))

In [923]:
test_shuffled[:50]

'e aahvqcxbvqe aahvqzqsauqe aahvqzqezjvvjqe aahvqzq'

In [924]:
true_decoding_dict = dict(zip(translation_dict.values(), translation_dict.keys()))

In [925]:
res, like = translate_mc(test_shuffled, true_decoding_dict)
res[:100], like

('choose life choose a job choose a career choose a family choose a fucking big television choose wash',
 -2039.450029532397)

In [942]:
mc_translation_dict = get_init_trans_dict(test_shuffled, freq_tab, abc=ABC_ENG)

In [943]:
translate_mc(test_shuffled[:100], mc_translation_dict)

('dhttae miwe dhttae n xtb dhttae n dnreer dhttae n wnfimg dhttae n wldviou biu semekiaito dhttae yn',
 -591.7748950128469)

In [944]:
res_init, like_init = translate_mc(test_shuffled, mc_translation_dict)

In [945]:
n_iter = 100
prev_log_like = like_init
i = 0
while i < n_iter:
  swap_1, swap_2 = random.sample(list(mc_translation_dict), 2)
  val_1, val_2 = mc_translation_dict[swap_1], mc_translation_dict[swap_2]
  tmp_dict = mc_translation_dict.copy()
  tmp_dict[swap_1] = val_2
  tmp_dict[swap_2] = val_1
  new_res, new_log_like = translate_mc(test_shuffled, tmp_dict)
  prob = np.exp(new_log_like - prev_log_like)
  go_prob = random.uniform(0, 1)
  if (prob > 1)  or (go_prob < prob):
    i += 1
    prev_log_like = new_log_like
    mc_translation_dict = tmp_dict
    del tmp_dict
    if i % 20 == 0:
      print(new_res[:100], new_log_like)

gthhse lome gthhse a qhb gthhse a gareer gthhse a mawolc gthhse a mugvoin bon yelekosohi gthhse fast -4400.985330222464
thoose life thoose a qob thoose a tareer thoose a familc thoose a futyink bik gelevision thoose wash -2901.468621649859
choose life choose a job choose a career choose a family choose a fucking big television choose wash -2039.450029532397
choose life choose a job choose a career choose a family choose a fucking big television choose wash -2039.450029532397
choose life choose a job choose a career choose a family choose a fucking big television choose wash -2039.450029532397